<p><%= CGI.escapeHTML @text.to_s %></p>
<ul>
    <li><a href="/admin/composers">Composers</a></li>
    <li><a href="/admin/compilations">Compilations</a></li>
</ul>
<h2>Change password</h2>
<form id="change-password" class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-3" class="" for="current_password">current password </label>
        <div class="col-sm-9">
            <input class="form-control" type="password" name="current_password" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="password">new password </label>
        <div class="col-sm-9">
            <input class="form-control" type="password" name="password" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="password_confirmation">new password (confirmation) </label>
        <div class="col-sm-9">
            <input class="form-control" type="password" name="password_confirmation" />
        </div>
    </div>
    <button class="btn btn-primary col-sm-offset-3" type="button">change</button>
</form>
<form method="POST" action="/admin/logout">
    <p>
    <input class="btn btn-default" type="submit" value="logout" />
    </p>
</form>
