<p><%= @text %></p>
<ul>
    <li><a href="/admin/composers">Composers</a></li>
    <li><a href="/admin/compilations">Compilations</a></li>
</ul>
<form method="POST" action="/admin/logout">
    <p>
    <input type="submit" value="logout" />
    </p>
</form>
