<p><%= @text %></p>
<ul>
    <li><a href="/admin/composers">Composers</a></li>
    <li><a href="/admin/compilations">Compilations</a></li>
</ul>
<h2>Change password</h2>
<form class="form-horizontal" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-sm-3" class="" for="current_password">current password: </label>
        <div class="col-sm-9">
            <input class="form-control" type="password" name="current_password" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="password">new password: </label>
        <div class="col-sm-9">
            <input class="form-control" type="password" name="password" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="password_confirmation">new password (confirmation): </label>
        <div class="col-sm-9">
            <input class="form-control" type="password" name="password_confirmation" />
        </div>
    </div>
    <input class="col-sm-offset-3" type="submit" value="change" />
</form>
<p><%= @error_message %></p>
<form method="POST" action="/admin/logout">
    <p>
    <input type="submit" value="logout" />
    </p>
</form>
