<%= erb :compilation_info, layout: false %>
<h2>Participations</h2>
<ul>
<% @compilation.composers.each do |composer| %>
    <li><%= composer.name %></li>
<% end %>
</ul>
<a href="/<%= @compilation.compilation_name %>/submit">Submit a track</a>
