<p class="lead">
<% @compilation.description.each_line do |line| %>
    <%= line.chomp %><br />
<% end %>
</p>
<h2>Requirements</h2>
<ul>
<% @compilation.requirement.each_line do |requirement| %>
    <li><%= requirement %></li>
<% end %>
</ul>
<h2>Deadline</h2>
<p><%= @compilation.deadline %></p>

