<p class="lead">
<% @compilation.description.each_line do |line| %>
    <%= CGI.escapeHTML line.chomp.to_s %><br />
<% end %>
</p>
<h2>Requirements</h2>
<ul>
<% @compilation.requirement.each_line do |requirement| %>
    <li><%= CGI.escapeHTML requirement.to_s %></li>
<% end %>
</ul>
<h2>Deadline</h2>
<p><%= @compilation.deadline %></p>

