<h2>Composer information</h2>
<table class="table table-striped">
    <thead>
        <tr><th>ID</th><th>name</th><th>contact</th></tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @composer.registration_id %></td>
            <td><%= CGI.escapeHTML @composer.name.to_s %></td>
            <td><%= CGI.escapeHTML @composer.contact.to_s %></td>
    </tbody>
</table>
