<h2>Composer information</h2>
<table class="table table-striped">
    <thead>
        <tr><th>ID</th><th>name</th><th>contact</th></tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @composer.registration_id %></td>
            <td><%= @composer.name %></td>
            <td><%= @composer.contact %></td>
    </tbody>
</table>
