<%= erb :compilation_info, layout: false %>
<h2>Participations</h2>
<ul>
<% @compilation.composers.each do |composer| %>
    <li><%= CGI.escapeHTML composer.name.to_s %></li>
<% end %>
</ul>
<a class="btn btn-primary" href="/<%= @compilation.compilation_name %>/submit">submit a track</a>
