<!-- Start of composer information -->
<h2>作曲者情報</h2>
<table class="table table-striped">
    <thead>
        <tr><th>ID</th><th>名前</th><th>連絡先</th></tr>
    </thead>
    <tbody>
        <tr>
            <td><%= @composer.registration_id %></td>
            <td><%= CGI.escapeHTML @composer.name.to_s %></td>
            <td><%= CGI.escapeHTML @composer.contact.to_s %></td>
    </tbody>
</table>
<!-- End of composer information -->
