<form method="POST" action="">
    <p>
    <label for="registration_id">ID: </label>
    <input type="text" name="registration_id" />
    </p>
    <p>
    <label for="password">password: </label>
    <input type="password" name="password" />
    </p>
    <p>
    <input type="submit" value="login" />
    </p>
</form>
<p><%= @error_message %></p>
