<h2>Modify composer information</h2>
<form id="modify-composer" class="form-horizontal" method="POST" action="">
    <div class="form-group">
        <label class="control-label col-sm-3" for="registration_id">ID </label>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="registration_id" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="password">password </label>
        <div class="col-sm-9">
            <input class="form-control" type="password" name="password" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="password_confirmation">password (confirmation) </label>
        <div class="col-sm-9">
            <input class="form-control" type="password" name="password_confirmation" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="name">name </label>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="name" />
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-3" for="contact">contact (optional) </label>
        <div class="col-sm-9">
            <input class="form-control" type="text" name="contact" />
        </div>
    </div>
    <button class="btn btn-primary col-sm-offset-3" type="button">modify</button>
</form>
