body {
    padding: 60px;  /* ナビゲーションバーにコンテンツが被らないように */
}

.footer {
    margin-top: 40px;
}

/* ローディング画像用 */
#loading {
    border: 1px dashed #999999;
    padding: 25px;
    position:  fixed;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -80px;
    margin-top: -50px;
    background-color: #ffffff;
    filter: alpha(opacity=85);
    -moz-opacity: 0.85;
    opacity: 0.85;
}
#loading .loadingMsg {
    text-align: center;
    padding-top: 25px;
    width: 150px;
    background-image: url("/image/loading.gif");
    background-position: center top;
    background-repeat: no-repeat;
    font-family: "メイリオ"!important;
}

/* 締め切りタイマー */
#deadline-timer {
    margin: 10px auto 40px;
    font-size: 1.5em;
    color: #ff0000;
    font-weight: bold;
}
